:root {
	--bg-color: #2d2a37;
	--main-font-color: #ebebeb;
	--secondary-font-color: #6b6b6b;
	--button-primary-color: #2d2a37;
	--button-secundary-color: #462878;
	--main-bg-color: #807ece;

	--ce-button-color: #975dfa;
}
